Italiana con d4.pgn
Aberturas/
Preparacoes/
DVDs
Estagio Fier/
Estagio Jorge/
Bases de Jogos/Mega Database 2023/
Bases de Jogos/Base TWICS/
Bases de Jogos/Os Meus Jogos/
fechado.*
Chessable PGNs/
Dragon.cbv
Bases de Jogos/*.ini
